@import './mixins';


@layer utilities {

  .glassmorphism{
    background-color: var(--glassmorphism-bg);
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
    box-shadow: 0 0 3px 1px var(--glassmorphism-shadow);
  }

  .glass{
    background-color: var(--glassmorphism-bg);
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
  }

  .bg-clip-text{
    border: none;
    box-shadow: none;
    background-size: 100%;
    background-clip: text;
    --webkit-background-clip : text;
    color: transparent;
  }  

  .cursor-none{
    cursor: none;
  }

  .text-gradient{
    background-image: var(--bg-gradient);
    background-size: 200%;
    background-position: left top;
    background-clip: text;
    --webkit-background-clip : text;
    color: transparent;
    animation: animate-gradient 5000ms linear infinite alternate-reverse;
    
    @keyframes animate-gradient {
      35% {background-position: right top;}
      65%{background-position: right bottom;}
      100%{background-position: left bottom;}
    }
  }

  .text-stroke{
    // $thick: 0.13rem;
    // $shadow: 0.07rem;
    // $color: var(--font-color);
    // color: var(--bg-color);
    // text-shadow:
    // $thick $thick $shadow $color,
    // calc(-1 * $thick) $thick $shadow $color,
    // calc(-1 * $thick) calc(-1 * $thick) $shadow $color,
    // $thick calc(-1 * $thick) $shadow $color;

    -webkit-text-fill-color: var(--bg-color); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--font-color);
  }
  .text-nonstroke{
    color: unset;
    text-shadow: none;
  }

  
}

//Custom Cursor
.cursor-dot, .cursor-outline{
  opacity: 0;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 39;
  transition: 500ms;
}
.cursor-dot{
    display: flex;
    width: 7px;
    height: 7px;
    background: var(--cursor-color);
    box-shadow: 0 0 10px var(--theme-color),
    inset 0 0 1px rgba(0, 0, 0, 0.3); 
    mix-blend-mode: exclusion;

  }
  .cursor-outline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transform-origin: center;
    overflow: hidden;
    background: white;
    mix-blend-mode: exclusion;
  }

  .cursor-title{ 
    width: auto !important;
    height: auto !important;
    color: var(--font-color);
    white-space: nowrap;
    padding: 0.5rem;
    border-radius: 10px;
    mix-blend-mode: normal !important;
    box-shadow: 0 0 5px var(--theme-color);
    transform: translate(-50%,-50%) scale(1.1);
  }
  
  @include color-scheme(dark){
    .cursor-outline-hover{
      background: rgba(15, 0, 255, 0.9) !important; 
    }
    .cursor-dot-hover{
      background: rgba(0, 255, 30, 0.9) !important; 
    }
    .cursor-title{
      background: rgba(0, 255, 255, 0.9) !important;
    }
  }
  @include color-scheme(light){
    .cursor-outline-hover, .cursor-title{
      background: rgba(255, 0, 55, 0.9) !important;
    }
    .cursor-dot-hover{
      background: rgba(175, 0, 255, 0.9) !important;
    }
    .cursor-title{
      background: rgba(100, 0, 255, 0.9) !important;
    }
  }

  .cursor-outline-hover{
    transform: translate(-50%, -50%) scale(2.5);
    border: none;
  }

  .cursor-dot-hover{
    transform:  translate(-50%, -50%) scale(13.5);
    mix-blend-mode: exclusion !important;

  }

  .cursor-outline-press{
    transform: translate(-50%, -50%) scale(1) !important;
    border-color: var(--theme-color) !important;

  } 

  .cursor-dot-press{  
    opacity: 0 !important;
    transform: translate(-50%, -50%) scale(0) !important;
  }
  

//Preloader
.loader-text {
  background: var(--bg-gradient);
  --webkit-background-clip : text;
  background-clip: text;
  color: transparent;
}


//Marquee

.marquee-hide{
  background: transparent;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.marquee-text{
  display: inline-block;
  background-color: var(--marque-default-bg);

  @include responsive (phone){
      &:hover{
          transform: translateY(-10px);
      }
  }

  @include responsive (tablet){
      &:hover{
          transform: scale(1.05);
      }
  }

}

.marquee-line{
  border: none;
  display: inline-block;
  color:  var(--marque-default-bg);
}



//Loader
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #FF3D00;
  width: 38px;
  height: 38px;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 28px;
  height: 28px;
  border-color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}