@import './mixins';

//Custom Cursor
.cursor-dot{
    display: flex;
    width: 7px;
    height: 7px;
    background: var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color),
    inset 0 0 2px rgba(0, 0, 0, 0.8); 
   
  }

  .cursor-outline{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55px;
    height: 55px;
    border: 4px double var(--cursor-outline);
    transform-origin: center;
    overflow: hidden;
    background: var(--bg-color);
    mix-blend-mode: exclusion;

    .cursor-title{ 
      transform-origin: center;
      word-break: break-all;
      animation: title 300ms linear forwards;
      color:initial;


      @keyframes title {
        0%, 50%{opacity: 0; transform: scale(0);}
        100% {opacity: 1; transform: scale(1);}
      }
    }
  }

  .cursor-dot, .cursor-outline{
    opacity: 0;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 39;
    transition: 350ms;
  }
  
  @include color-scheme(dark){
    .cursor-outline-hover{
      background: rgba(0, 255, 255, 0.8) !important; 
    }
  }
  @include color-scheme(light){
    .cursor-outline-hover{
      background: rgba(255, 255, 0, 0.8) !important;
    }
  }

  .cursor-outline-hover{
    transform: translate(-50%, -50%) scale(1.69);
    border: none;


  }
  .cursor-dot-hover{
    transform:  translate(-50%, -50%) scale(14);
    mix-blend-mode: exclusion !important;

  }

  .cursor-outline-press{
    z-index: 38 !important;
    border: 4px solid var( --theme-color) !important;
    box-shadow:  0 0 10px var(--theme-color);
    background: white;
    transform:  translate(-50%, -50%) scale(0.8);
  }

  .cursor-dot-press{
    opacity: 0 !important;
  }
    

//Preloader
.loader-text {
  background: var(--bg-gradient);
  --webkit-background-clip : text;
  background-clip: text;
  color: transparent;
}


//Marquee

.marquee-hide{
  background: transparent;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.marquee-text{
  display: inline-block;
  background-color: var(--marque-default-bg);

  @include responsive (phone){
      &:hover{
          transform: translateY(-10px);
      }
  }

  @include responsive (tablet){
      &:hover{
          transform: scale(1.05);
      }
  }

}

.marquee-line{
  border: none;
  display: inline-block;
  color:  var(--marque-default-bg);
}

