@import './mixins';

:root {
    --screen-pad: 10%;
    --warning-color: #ffe600;
    --nav-resHeightOff: 0;
    --nav-resHeightOn: calc(100vH - var(--header-height));
    --gradient-colorful:  linear-gradient(90deg,#00ffb7, #00ffdd, #2f75ff,  #8E2DE2ee,#ff395c, #ff8000, #ffa982, #e65c00);
    --header-scroll-transform: translateY(calc(-1 * (var(--header-height))));
    --marquee-start: -100% ;
    --marquee-end: 0;

    //Responsive must go in correct order
    //Phone - min 320
    @include responsive(phone){
      --header-height: 65px;
      --footer-height: 200px;
      --blur: 28px;
      --logo-size: 1.5rem;
      --font-size: initial;
    }
    //Tablet mini - min 768
    @include responsive(tablet-mini){
      --navlinkPadding: 3;
      --footer-height: 150px;


    }

    //Tablet mini - min 1000
    @include responsive(tablet){
      --header-height: 110px;
      --font-size: 0.93rem;
      --logo-size: 1.65rem;
      --nav-resHeightOff: auto;
      --nav-resHeightOn: auto;
      --blur: 8px;
    }

        //Laptop - min 1380
    @include responsive(laptop){

    }

}
  
//Root Dark-Theme
@include color-scheme(dark){
  --font-color: white;
  --bg-color: black;
  --bg-gradient: linear-gradient(45deg, #1fa2ffee,#00ffffee, #92FE9Dee);
  --theme-color: rgba(0,255,255);
  --secondary-color: rgb(125, 255, 255);
  --cursor-color: white;
  --glassmorphism-bg:rgba(0, 0, 0, 0.3);
  --glassmorphism-shadow:rgba(255, 255, 255, 0.39);
  --mask-bg: rgba(16, 16, 16,0.65);

  //Responsive must go in correct order
    //Phone - min 320
    @include responsive(phone){
      --nav-bg:rgba(0,0,0,0.65);
      --marque-default-bg: rgba(255, 255, 255, 0.5);

    }
    //Tablet mini - min 768
    @include responsive(tablet-mini){

    }

    //Tablet mini - min 1000
    @include responsive(tablet){
      --nav-bg: transparent;
      --dropdown-bg:rgba(0, 0, 0, 0.5);
      --marque-default-bg: rgba(255, 255, 255, 0.3);


    }

        //Laptop - min 1380
    @include responsive(laptop){
      

    }

  }

  //Root Light-Theme
@include color-scheme(light){
  --font-color: black;
  --bg-color: white;
  --bg-gradient: linear-gradient(45deg,#0033ffee, #8E2DE2ee, #4A00E0ee);
  --theme-color: rgb(100, 0, 255);
  --secondary-color: rgb(0, 50, 255);
  --cursor-color: white;
  --glassmorphism-bg:rgba(255, 255, 255, 0.3);
  --glassmorphism-shadow:rgba(0, 0, 0, 0.3);
  --mask-bg: rgba(255, 255, 255, 0.65);

  //Responsive must go in correct order
    //Phone - min 320
    @include responsive(phone){
      --nav-bg:rgba(255, 255, 255, 0.65);
      --marque-default-bg: rgba(0, 0, 0, 0.5);

    }
    //Tablet mini - min 768
    @include responsive(tablet-mini){
     
    }

    //Tablet mini - min 1000
    @include responsive(tablet){
      --nav-bg: transparent;
      --dropdown-bg:rgba(255, 255, 255, 0.5);
      --marque-default-bg: rgba(0, 0, 0, 0.3);

    }

        //Laptop - min 1380
    @include responsive(laptop){

    }

    

  }
  


