.corner-border{
    --s: 20px; /* the size on the corner */
    --t: 2px;  /* the thickness of the border */
    --g: 15px; /* the gap between the border and image */
    
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid var(--font-color); /* the color here */
    outline-offset: calc(-1*var(--t));
    
    mask: 
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;

    -webkit-mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
      transition: 300ms;

      &:hover{
        --g: 5px;
        outline: var(--t) solid var(--theme-color); /* the color here */
      }
  }

  