@import '@/styles/partials/mixins';


.home-intro{
    @include responsive(phone){
        height: 85vH;
    }
    @include responsive(tablet){
        height: calc(100vH - var(--header-height));
    }
} 

.fullname{
    &:hover{
        text-shadow: 1px 3px 2px var(--theme-color);
    }
}

.something{
    --s: 15px; /* the size on the corner */
    --t: 1px;  /* the thickness of the border */
    --g: 0px; /* the gap between the border and image */
    
    
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid; /* the color here */
    outline-offset: calc(-1*var(--t));

    mask: 
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;

    -webkit-mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;

    &:hover{
      outline: var(--t) solid var(--theme-color); /* the color here */
    }
}

.mask{
    -webkit-mask-image: url('../../assets/images/background/octagon.svg');
    mask-image: url('../../assets/images/background/octagon.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 0px;
    mask-size: 0px;
    background: transparent;
        
    .mask-text{
        background: var(--gradient-colorful);
        background-size: 100%;
        background-position: center;
        --webkit-background-clip : text;
        background-clip: text;
        color: transparent;
    }
}

//SVG Drawing
.svg-draw{
    animation: draw forwards 15s ease-in-out infinite alternate;
  
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  }


.home-section2{
position: relative;

&::before{
content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-attachment: fixed ;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 25px 5px var(--bg-color),
    inset 0 0 50px 10px var(--bg-color),
    inset 0 0 75px 15px var(--bg-color),
    inset 0 0 100px 20px var(--bg-color);

  }
}
  
@include color-scheme(dark){
  .home-section2{
    &::before{
      background-image: url("/assets/images/background/blockchain-shubham_dhage.jpg");
    }
  }
}
@include color-scheme(light){
  .home-section2{
    &::before{
      background-image: url("/assets/images/background/white-pattern.jpg");
    }
  }  
}
