@import '@/styles/partials/mixins';


.home-intro{
    @include responsive(phone){
        height: 85vH;
    }
    @include responsive(tablet){
        height: calc(100vH - var(--header-height));
    }
} 

.fullname{
    &:hover{
        text-shadow: 1px 3px 2px var(--theme-color);
    }
}

//SVG Drawing
.svg-draw{
    animation: draw forwards 5s ease-in-out infinite alternate-reverse;
    stroke: var(--font-color);
    stroke-width: 1px;

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

.home-section2{
position: relative;

&::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed ;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: 0 0 10px 10px var(--bg-color),
    inset 0 0 25px 5px var(--bg-color),
    inset 0 0 50px 10px var(--bg-color),
    inset 0 0 75px 15px var(--bg-color),
    inset 0 0 100px 25px var(--bg-color);

  }
}
  
@include color-scheme(dark){
  .home-section2{
    &::before{
      opacity: 0.3;
      background-image: url("/assets/images/background/blockchain-shubham_dhage.jpg");
    }
  }
}
@include color-scheme(light){
  .home-section2{
    &::before{
      opacity: 0.69;
      background-image: url("/assets/images/background/white-pattern.jpg");
    }
  }  
}
