@import './partials/mixins';
@import './partials/reset';
@import './partials/utilities';
@import './partials/variables';
@import './partials/animations';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


//Scroll-bar
::-webkit-scrollbar{
  background: transparent;
  width: 0px;
}
::-webkit-scrollbar-thumb{
  background: var(--bg-gradient);
}

html{
  color: var(--font-color);
  background: var(--bg-color);

  scrollbar-color: var(--theme-color) transparent;
  scrollbar-width: none;

  @include responsive(phone){

  }

  //Tablet mini - min 768
  @include responsive(tablet-mini){

  }

  //Tablet mini - min 1000
  @include responsive(tablet){

  }

  //Laptop - min 1380
  @include responsive(laptop){

  }
}

body {
  width: 100vw;
  overflow-x: hidden !important;
  overflow-y: scroll;
 
  @include responsive(phone){
    cursor: auto;

  }

  //Tablet mini - min 768
  @include responsive(tablet-mini){

  }

  //Tablet mini - min 1000
  @include responsive(tablet){

  }

  //Laptop - min 1380
  @include responsive(laptop){
    cursor: none;
  }

}

html, body{
  scrollbar-gutter: stable;


}

  
.gradient-mist{
  background: var(--bg-gradient);
  background-size: 100%;
  background-position: center;
  filter: blur(88px);
}


