@import './partials/mixins';
@import './partials/reset';
@import './partials/utilities';
@import './partials/variables';
@import './partials/animations';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


//Scroll-bar
::-webkit-scrollbar{
  background: transparent;
  width: 0px;
}
::-webkit-scrollbar-thumb{
  background: var(--bg-gradient);
}

html{
  $duration: 150ms;

  color: var(--font-color);
  background:var(--bg-color);
  
  -webkit-transition: background-color $duration linear;
  -ms-transition: background-color $duration linear;
  transition: background-color $duration linear;
  
  scrollbar-color: var(--theme-color) transparent;
  scrollbar-width: none;

  @include responsive(phone){

  }

  //Tablet mini - min 768
  @include responsive(tablet-mini){

  }

  //Tablet mini - min 1000
  @include responsive(tablet){

  }

  //Laptop - min 1380
  @include responsive(laptop){

  }

}


body {
  overflow-x: hidden;
  overflow-y: scroll;

 
  @include responsive(phone){
    cursor: auto;

  }

  //Tablet mini - min 768
  @include responsive(tablet-mini){

  }

  //Tablet mini - min 1000
  @include responsive(tablet){

  }

  //Laptop - min 1380
  @include responsive(laptop){
    cursor: none;
  }

}

html, body{
  scrollbar-gutter: stable;

}


  //Overlay Background
  .overlay-background{
    
    display: inline-block;
    pointer-events: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vH;
    width: 100vW;
    z-index: -10;
    
    -webkit-opacity: var(--bg-opacity); /* WebKit browser e.g. Safari */
    -moz-opacity: var(--bg-opacity); /* Firefox and Mozilla browsers */
    opacity: var(--bg-opacity);

    @include responsive(phone){
      background-attachment: scroll;
   }
    @include responsive(tablet){
       background-attachment: fixed;
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  

  @include color-scheme(dark){
    background-color: #070707;

    .overlay-background{
      background-image: url("../assets/images/background/blockchain-shubham_dhage.jpg");

    }
  }

  @include color-scheme(light){
    background-color: #eeeeee;

    .overlay-background{
      background-image: url("../assets/images/background/white-pattern.jpg");
    }
  }
  
  
.float-bg-gradient{
  background: var(--bg-gradient);
  background-size: 100%;
  background-position: center;
  filter: blur(100px);
}


