@import './partials/mixins';


//Header
.header{
    height: var(--header-height);
}

.scroll-progress{
    box-shadow: 0 0 5px var(--theme-color);
}  

//Footer
// .footer{
    
// }


//Nav-bar
.nav{
    .nav-link{
        -webkit-border-radius: 0.375rem;
        -khtml-border-radius: 0.375rem;
          -moz-border-radius: 0.375rem;
               border-radius: 0.375rem;
    }
}




.nav-dropdown{
    background: var(--dropdown-bg);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
